* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2c79f4;
}

.container {
  position: relative;
  width: 400px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper .wrapper__imgBox {
  position: relative;
  flex-basis: 80%;
}

.wrapper__imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper .wrapper__content {
  flex-basis: 20%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.wrapper__content h3 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #111111;
}

.wrapper__content > a {
  padding: 10px 20px;
  transition: all 0.5s;
}

.wrapper__content > a:hover {
  opacity: 0.8;
}

.container__formBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #ffffff;
  transform: translateY(100%);
  transition: all 0.3s;
}

.container__formBox.active {
  transform: translateY(0);
}

.container__formBox .formBox__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formBox__items p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.formBox__items .closeIconBox {
  cursor: pointer;
}

.formBox__inputSection {
  width: 100%;
}

.inputBox__1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.inputBox__1 .inputBox__icon {
  flex-basis: 10%;
}

input[type="text"] {
  flex-basis: 90%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #111111;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.rememberme__section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.rememberme__section > span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.remember__checkBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remember__checkBox > span {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 10px;
}

.container__formBox > a {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}
