* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  filter: contrast(50);
}

#container .box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #000000;
  border-radius: 100px;
  filter: blur(25px);
  transition: all 2s;
}
