* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #daddfc;
}

.container {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  transition: all 0.5s;
}

.container__itemBox-1 {
  position: relative;
  flex-basis: 80%;
  width: 100%;
  overflow: hidden;
}

.itemBox__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.itemBox__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.container__itemBox-1 .img__navbar {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #edd2f3;
  transition: all 0.5s;
}

.img__navbar:hover {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.container__itemBox-2 {
  position: relative;
  flex-basis: 20%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.item1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}

.item1__content {
  flex-basis: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  border-right: 1px solid #919191;
}

.item1__content h3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.item1__content span {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.item1__icon {
  flex-basis: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.item2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fffcdc;
  transform: translateX(100%);
  transition: all 0.5s;
}

.delete {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #bc3b59;
  transform: translateY(100%);
  transition: all 0.5s;
  cursor: pointer;
}

.border {
  border-right: 0;
  border-left: 1px solid #919191;
}

.item1.active {
  transform: translateX(-100%);
}

.item2.active {
  transform: translateX(0);
}

.item1__icon:hover {
  background-color: #edd2f3;
}

.container:hover {
  transform: scale(1.08);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.item2:hover .delete {
  transform: translateY(0);
}
